#CityAurora{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #495758;
}

#main{
    position: relative;
    top: 10%;
    left: 40%;
}

#TaiwanMap{
    display: none;
    /* transition: 1s ease-in; */
    transform: scale(1);
}