/* CityAurora */
#CityAurora{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('../img/index-bg.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

/* Nav */
.logo{
    width: 300px;
}

#Nav{
    position: relative;
    top: 0;
    left: 0;
    z-index: 87;
    padding: 10px;
}

#Nav ul li{
    display: inline;
    line-height: 50px;
    font-size: 18px;
    border-right: 1px solid white;
    padding: 0 20px;
    font-weight: 600;
}
#Nav ul li a:hover{
    color:#F0C960; 
    border-bottom: 2px solid #F0C960;
    font-weight: 900;
}
#Nav ul li:last-child{
    border-right: none;
}

/* Main */
#main{
    position: relative;
    top: 0;
    left: 0;
}

#main .container{
    height: 100%;
}

.mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.2); */
    z-index: 55;
}

.mask-cancel{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: red;
}

.locate-mark{
    cursor: pointer;
    position: absolute;
    left: 70%;
    top: 50%;
    width: 75px;
    height: 40px;
    background-color: aqua;
    font-size: 16px;
}

#taiwan{
    z-index: 51;
}

.taiwan-map-pos{
    width: 480px;
    position: absolute;
    top: -3%;
    right: 15%;
    z-index: 50;
}

.taiwan-map-pos.active{
    z-index: 60;
    display: block !important;
}

#locate-changhua{
    right: 17%;
}
#locate-nantou{
    right: 10%;
}
#TaiwanMap{
    display: none;
    transform: scale(1);
}

.locate-mark-pos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 60px;
    background-color: red;
    /* display: none; */
}
.map-area-pos{
    width: 50%;
    display: none;
    pointer-events: none;
}

#taiwan #map-hover-1{
    position: absolute;
    top: 125px;
    left: 90px;
}

#taiwan #map-hover-2{
    position: absolute;
    top: 180px;
    left: -7px;
}

#taiwan #map-hover-3{
    position: absolute;
    top: 220px;
    left: 100px;
}

#decoration{
    position: relative;
    bottom: -40%;
    width: 260px;
    height: 260px;
    z-index: 95;
}

#decoration img:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;  
    transform-origin: 80% 100%;
    animation:Car-shake 0.5s ease-in-out infinite;
}
#decoration img:nth-child(2){
    position: absolute;
    top: 120px;
    left: 0;
    animation:Car-shake 0.5s ease-in-out infinite;
}
#decoration img:nth-child(3){
    position: absolute;
    top: 280px;
    left: 0;
}
#locate-taichung img{
    transform-origin: 40% 25%;
}
#locate-changhua img{
    transform-origin: 20% 35%;
}
#locate-nantou img{
    transform-origin: 45% 40%;
}

.locate-map{
    transform: scale(4);
}
/* modal */

.modal-content{
    overflow: hidden;
}

.viewInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    padding: 60px 40px 40px 100px;
    color: white;
    font-weight: 900;
    transition: 1s;
}

.viewInfo.active{
    left: -60%;
    z-index: 200;
}

.viewInfo-toggle{
    padding: 20px;
    position: absolute;
    top: 10px;
    left: 100%;
    width: 70px;
    height: 100px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 40px;
}

.carousel-control-prev,
.carousel-control-next{
    z-index: 100;
}

.carousel-control-prev {
    left: -45px;
}
.carousel-control-next {
    right: -45px;
}

.viewInfo p{
    margin-bottom: 0px;
}

#googleMap{
    position: relative;
    top: 0px;
    left: 0px;
}

#googleMap iframe{
    position: absolute;
    top: 0px;
    left: 0px;
}

#googleMap .GObtn{
    position: absolute;
    right: -30px;
    bottom: 0px;
    width: 75px;
    height: 60px;
    z-index: 1000;
}

#googleMap .GObtn img:nth-child(2){
    display: none;
}

#googleMap a:hover .GObtn img:nth-child(1){
    display: none;
}
#googleMap a:hover .GObtn img:nth-child(2){
    display: block;
}



/* animate */

@keyframes Car-shake{
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(4px);
    }
    40%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(px);
    }
    80%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(3px);
    }
}
