/* CityAurora */
#CityAurora{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #495758;
}

/* Nav */
.logo{
    width: 150px;
}

#Nav{
    position: relative;
    top: 0;
    left: 0;
    z-index: 87;
    padding: 10px;
}

#Nav ul li{
    display: inline;
    line-height: 50px;
    font-size: 18px;
    border-right: 1px solid white;
    padding: 0 20px;
    font-weight: 600;
}
#Nav ul li a:hover{
    color:#F0C960; 
    border-bottom: 2px solid #F0C960;
    font-weight: 900;
}
#Nav ul li:last-child{
    border-right: none;
}

/* Main */
#main{
    position: relative;
    top: 0;
    left: 0;
}

.mask{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.2); */
    z-index: 10;
}

.mask-cancel{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: red;
}

.locate-mark{
    cursor: pointer;
    position: absolute;
    left: 70%;
    top: 50%;
    width: 75px;
    height: 40px;
    background-color: aqua;
    font-size: 16px;
}

#TaiwanMap{
    width: 480px;
    position: absolute;
    top: 5%;
    right: 15%;
    /* display: none; */
    transform: scale(1);
}



/* Map */

.modal-content{
    overflow: hidden;
}

.viewInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
    padding: 60px 40px 40px 100px;
    color: white;
    font-weight: 900;
    transition: 1s;
}

.viewInfo.active{
    left: -60%;
    z-index: 200;
}

.viewInfo-toggle{
    padding: 20px;
    position: absolute;
    top: 10px;
    left: 100%;
    width: 70px;
    height: 100px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 40px;
}

.carousel-control-prev,
.carousel-control-next{
    z-index: 100;
}

.carousel-control-prev {
    left: -45px;
}
.carousel-control-next {
    right: -45px;
}

.viewInfo p{
    margin-bottom: 0px;
}

#googleMap{
    position: relative;
    top: 0px;
    left: 0px;
}

#googleMap iframe{
    position: absolute;
    top: 0px;
    left: 0px;
}

#googleMap .GObtn{
    position: absolute;
    right: -30px;
    bottom: -25px;
    width: 75px;
    height: 60px;
    background-color: #E25061;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 26px;
    z-index: 1000;
}