#loadingScene{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:white; 
    transition: 3s ease-in-out;
}

#car{
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 50px;
    transition: 4s ease-in-out;
}

#car.active{
    left:150%;
}
